.album-card {
  background: var(--color-main);
  margin: 0 0 1rem 0;
  padding: 1rem 0 0 0;
}

.album-card-img {
  display: block;
  width: 100%;
  margin: 0 auto auto;
}

.album-card-content {
  background-color: var(--color-main);
  color: var(--color-bright);
  padding: 1rem;
  position: relative;
}

.album-card-title {
  position: absolute;
  margin: 0 0 1rem 0;
}
