*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bright: #ffd783;
  --color-main: #d783ff;
  --color-highlight: #83ffd7;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--color-main);
}
