*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bright: #ffd783;
  --color-main: #d783ff;
  --color-highlight: #83ffd7;
}

body {
  font-family: fantasy;
  background-color: var(--color-highlight);
  padding-inline: 1rem;
  padding-top: 1rem;
  margin: 0;
}

h1 {
  margin: 0;
}
